// basic for susy
$total-columns  : 6;
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 8;
$desktop        : 12;

// debug
@import "layout-debug";

#{$page-container} {
  @include container($phone, $pad, $desktop);
}
