// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

// compass
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// class variable
$page-container: ".page";

// import all things
@import "compass";
@import "compass/css3/user-interface"; // Don't know why must add this.
@import "susy";

@import "normalize";
@include establish-baseline;

// starter variables
@import "starter/variables";

// starter mixins
@import "starter/mixins";

// starter partials
@import "starter/layout";
@import "starter/typography";

// @import "starter/off-canvas";

// @import "starter/header";
// @import "starter/footer";
// @import "starter/main-nav";
// @import "starter/headline";
// @import "starter/feature-block";
// @import "starter/grid";
// @import "starter/items";
// @import "starter/button";
// @import "starter/form";
// @import "starter/list";
// @import "starter/tab";
// @import "starter/action-bar";
// @import "starter/pagination";

// starter for ng styles
@import "starter/ng-page-change";
