%helvetica-light {
  font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}

body {
  @extend %helvetica-light;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.hide {
  display: none;
}

#{headings()} {
  @include reset-box-model;
  @include adjust-font-size-to(32px);
  @extend %helvetica-light;
}

a {
  @include link-colors(blue);
  @include hover-link;
}

p {
  @include reset-box-model;
  @include adjust-font-size-to(13px);
  @include leader(1);
  @include trailer(1);
}
