// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

// compass
$legacy-support-for-ie: false;
$grid-background-baseline-height: $base-line-height;

// class variable
$page-container: ".page";

// import all things
@import "compass";
@import "susy";

@import "normalize";
@include establish-baseline;

@import "colors";
@import "typography";
@import "layout";
@import "pages";
