.sharing
  .share
    a.copy-share-btn href="#" data-share="Democracy at 4am — Morning without YOU is a dwindled dawn. http://4am-tw.maylogger.com #CongressOccupied #SunflowerMvmt" data-copied="Copied!" Copy Sharing Info
