.sharing
  .tw-share

  .fb-share
    <div class="share"><a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://4am.tw'), 'facebook-share-dialog', 'width=626,height=436'); return false;">facebook 分享</a></div>
