- presses = [\
  [ \
    "國際特赦組織",\
    "2014/3/19",\
    "台灣：呼籲在抗議中國貿易協議時保持克制",\
    "約200名學生於星期二晚上佔領了台北的國會，抗議一項擬議的與中國的貿易協議。",\
    "http://www.amnesty.org/en/for-media/press-releases/taiwan-restraint-urged-protests-over-china-trade-deal-2014-03-19"\
  ],\
  [ \
    "美國之音",\
    "2014/3/19",\
    "台灣抗議者佔領立法院反對中國貿易協議",\
    "在學生衝進立法院要求政府取消與中國的貿易協議後，警察和抗議者在台灣的立法院內對峙。",\
    "http://www.voanews.com/content/taiwan-protesters-occupy-legislature-demand-end-to-china-trade-pact/1874277.html"\
  ],\
  [ \
    "德國之聲",\
    "2014/3/20",\
    "台灣的靜坐學生對快速通過的中國協議作出反應",\
    "從示威活動開始，學生們就一直佔領著台灣國會議事廳，抗議與北京的貿易協議。",\
    "http://www.dw.de/taiwans-sit-in-students-react-to-fast-tracked-china-pact/a-17509780"\
  ],\
  [ \
    "華盛頓郵報",\
    "2014/3/20",\
    "反對中國貿易協議者佔領台灣立法院",\
    "數百名反對與中國貿易協議的抗議者星期三在台灣的立法院內外示威，這是對馬英九總統推動台灣與中國經濟接近政策迄今為止最嚴重的挑戰。",\
    "http://www.washingtonpost.com/business/china-pact-opponents-occupy-taiwan-legislature/2014/03/18/3f049e50-af02-11e3-b8b3-44b1d1cd4c1f_story.html"\
  ],\
  [ \
    "CNN",\
    "2014/3/21",\
    "台灣立法院佔領者的最後通牒未得到政府回應",\
    "協議未經適當程序通過，這就是為什麼人們憤怒的原因",\
    "http://edition.cnn.com/2014/03/19/world/asia/taiwan-student-protests/index.html?sr=sharebar_facebook"\
  ],\
  [ \
    "彭博社",\
    "2014/3/21",\
    "台灣抗議者要求對中國協議進行監督",\
    "“我們是一個無黨派的學生、公民活動家和各行各業的人，要求馬總統立即回應我們對拒絕服務貿易協議以及在本屆立法院會期內制定兩岸協議監督機制的要求。”",\
    "http://www.bloomberg.com/news/2014-03-22/taiwan-protests-escalate-on-demand-for-china-deals-oversight.html"\
  ],\
  [ \
    "衛報",\
    "2014/3/21",\
    "台灣年輕人抗議中國貿易協議",\
    "抗議者表示協議將損害台灣經濟，並使其容易受到來自北京的政治壓力。",\
    "http://www.theguardian.com/world/2014/mar/21/taiwan-youth-protests-china-trade-deal"\
  ],\
  [ \
    "VICE新聞",\
    "2014/3/22",\
    "台灣的抗議者禮貌地佔領國會大樓",\
    "一些警察同情學生，不願意在這裡，但這是他們的工作。他們甚至提醒我們穿得夠多，記得吃飯。",\
    "https://news.vice.com/articles/taiwans-protesters-politely-occupy-parliament-buildings?trk_source=homepage-in-the-news"\
  ],\
  [ \
    "紐約時報",\
    "2014/3/23",\
    "台灣對中國協議的憤怒增長",\
    "自上周以來佔領台灣立法院的示威者星期天晚上擴大了對中國貿易協議的抗議，闖入了附近的政府大樓，這裡是行政院的辦公室。",\
    "http://www.nytimes.com/2014/03/24/world/asia/anger-grows-in-taiwan-against-deal-with-china.html"\
  ],\
  [ \
    "衛報",\
    "2014/3/23",\
    "台灣抗議者闖入行政院辦公室，隨著對中國協議的緊張局勢升級",\
    "數百人闖入國會大樓，抗議將導致與中國更大經濟整合的協議。",\
    "http://www.theguardian.com/world/2014/mar/23/taiwan-protesters-invade-cabinet-offices-china-trade"\
  ],\
  [ \
    "BBC",\
    "2014/3/24",\
    "台灣學生闖入政府總部時發生衝突",\
    "台灣警察與數百名佔領政府總部抗議與中國貿易協議的學生發生衝突。",\
    "http://www.bbc.com/news/world-asia-26705779"\
  ],\
  [ \
    "衛報",\
    "2014/3/24",\
    "台灣防暴警察驅離抗議者，數十人被捕",\
    "在台北拒絕擱置與中國的貿易協議後，當局對示威者進行了暴力鎮壓。",\
    "http://www.theguardian.com/world/2014/mar/24/protesters-taiwan-trade-pact-china"\
  ],\
  [ \
    "彭博商業周刊",\
    "2014/3/24",\
    "對於台灣的苦戰總統來說，與烏克蘭被罷免的領導人相似的尷尬情況",\
    "在過去一個月烏克蘭發生的事件之後，來自台灣的新聞讓人感覺異常熟悉。",\
    "http://www.businessweek.com/articles/2014-03-24/for-taiwans-embattled-president-awkward-similarities-with-ukraines-ousted-leader"\
  ],\
  [ \
    "南華早報",\
    "2014/3/24",\
    "台灣警察驅離學生抗議者，超過150人受傷",\
    "雖然台灣的政治抗議很常見，但示威者和警察之間的暴力對抗相對罕見，這反映了自1990年代中期台灣完成從一黨獨裁到穩健民主的令人印象深刻的過渡以來，台灣社會中高度的公民對話。",\
    "http://www.scmp.com/news/china/article/1455773/taipei-student-protesters-occupy-government-hq-ransack-cabinet-office"\
  ],\
  [ \
    "美聯社",\
    "2014/3/24",\
    "警察鎮壓台灣抗議中國協議的示威活動",\
    "星期一，手持警棍的防暴警察清除了台灣內閣辦公室內的數十名反對與中國貿易協議的憤怒抗議者，這加劇了台灣與共產主義中國迅速發展的關係的緊張局勢。",\
    "http://hosted.ap.org/dynamic/stories/A/AS_TAIWAN_PROTEST?SITE=AP&SECTION=HOME&TEMPLATE=DEFAULT"\
  ],\
  [ \
    "德國之聲",\
    "2014/3/24",\
    "台灣警察驅散佔領政府總部的抗議者",\
    "台灣警察強行驅離佔領該島國政府主要辦公室的活動人士。但抗議者仍然堅守在國會，抗議與中國的貿易協議。",\
    "http://www.dw.de/taiwan-police-disperse-protesters-occupying-government-headquarters/a-17516026"\
  ],\
  [ \
    "華爾街日報",\
    "2014/3/24",\
    "台灣警察驅離內閣大樓的抗議者",\
    "台北的警察驅逐了內閣大樓內的數十名抗議者，隨著政府和佔領兩個主要政府建築物的學生之間的緊張局勢不斷升級，抗議者反對一項有爭議的與中國的貿易協議。",\
    "http://online.wsj.com/news/articles/SB10001424052702303725404579456731907714984"\
  ],\
  [ \
    "華爾街日報",\
    "2014/3/24",\
    "台灣學生抗議者呼籲全島罷工",\
    "台灣政府與抗議者之間為期一周的對峙沒有緩解的跡象，在防暴警察使用水炮驅逐內閣大院的抗議者之後，學生團體呼籲全島罷工。",\
    "http://online.wsj.com/news/articles/SB10001424052702303949704579458523369713720"\
  ],\
  [ \
    "洛杉磯時報",\
    "2014/3/24",\
    "台灣防暴警察清理內閣辦公室的抗議者",\
    "台灣警察星期一對數百名闖入內閣大院抗議與政治對手中國貿易自由化的示威者發射高壓水炮，這給島上總統帶來了六年來最嚴重的危機。",\
    "http://www.latimes.com/world/worldnow/la-fg-wn-taiwan-china-trade-protests-20140324,0,7245771.story"\
  ],\
  [ \
    "時代周刊",\
    "2014/3/24",\
    "台灣學生展開史詩般的國會佔領（照片集）",\
    "包括許多學生在內的抗議者繼續佔領台灣的主要立法機構，抗議一項將加強與中國關係的新貿易協議",\
    "http://time.com/35943/taiwan-students-protest-china/"\
  ],\
  [ \
    "時代周刊",\
    "2014/3/24",\
    "「台北之戰」顯示出台灣年輕人對中國的擔憂",\
    "防暴警察被派去驅逐佔領政府總部的反貿易協議抗議者",\
    "http://time.com/35142/taiwan-protests-over-tisa-reveal-china-fears/"\
  ],\
  [ \
    "國際記者聯盟",\
    "2014/3/25",\
    "記者在台灣學生示威中被警察使用武力阻撓",\
    "與中國達成的貿易協議威脅到來自台灣海峽對岸的經濟和政治控制。",\
    "http://asiapacific.ifj.org/en/articles/journalists-obstructed-as-police-use-force-at-taiwan-student-demonstration"\
  ],\
  [ \
    "CNN",\
    "2014/3/25",\
    "台灣警察與學生在貿易協議抗議中發生衝突",\
    "「我們很累，非常累。但我們會繼續為民主奮鬥，」運動發言人林飛帆星期一對CNN表示。",\
    "http://i2.cdn.turner.com/cnn/dam/assets/140327091510-taiwan-protest-0327-horizontal-gallery.jpg"\
  ],\
  [ \
    "衛報",\
    "2014/3/25",\
    "台灣的抗議者正在為島嶼的民主而戰",\
    "與中國達成的貿易協議威脅到來自台灣海峽對岸的經濟和政治控制。",\
    "http://www.theguardian.com/commentisfree/2014/mar/25/taiwans-protesters-democracy-china-taiwan-strait"\
  ],\
  [ \
    "彭博商業周刊",\
    "2014/3/25",\
    "台灣總統將與佔領立法院的抗議者會面",\
    "「這應該更加謹慎處理。與中國的交易你永遠不知道會發生什麼。你說這是個好交易，但對誰有好處？」\n---\n「我們歡迎台灣海峽兩岸採取的步驟——他們已經採取了降低緊張局勢和改善台北與北京關係的步驟。」",\
    "http://www.businessweek.com/news/2014-03-23/taiwan-riot-police-move-on-trade-protesters-in-cabinet-compound"\
  ],\
  [ \
    "華爾街日報",\
    "2014/3/25",\
    "台灣總統同意與抗議者會面",\
    "會議可能是結束為期一周對峙的重要一步",\
    "http://online.wsj.com/news/articles/SB10001424052702303725404579456731907714984?mg=reno64-wsj&url=http%3A%2F%2Fonline.wsj.com%2Farticle%2FSB10001424052702303725404579456731907714984.html"\
  ],\
  [ \
    "彭博商業周刊",\
    "2014/3/25",\
    "台灣的馬英九總統提出與學生領袖會面，爭端持續",\
    "馬英九願意在沒有前提的情況下與學生會面，討論服務貿易協議。",\
    "http://www.businessweek.com/news/2014-03-25/taiwan-s-ma-offers-to-meet-student-leaders-as-dispute-continues"\
  ],\
  [ \
    "太平洋標準",\
    "2014/3/25",\
    "亞洲關注台灣的民主衰落",\
    "亞洲最穩定的民主國家之一的學生抗議面臨暴力警察鎮壓。這一影響可能在整個地區引起共鳴。",\
    "http://www.psmag.com/navigation/politics-and-law/asia-watches-taiwans-democracy-falters-77424/"\
  ],\
  [ \
    "西澳大利亞報",\
    "2014/3/26",\
    "台灣反對黨抨擊警察鎮壓抗議活動",\
    "台灣主要反對黨星期三譴責警察使用武力驅逐闖入政府總部的示威者，抗議一項有爭議的與中國的貿易協議。",\
    "http://au.news.yahoo.com/thewest/world/a/22187216/taiwan-opposition-lash-out-at-police-crackdown-on-protest/"\
  ],\
  [ \
    "BBC",\
    "2014/3/26",\
    "前所未有的抗議對台灣意味著什麼",\
    "如果學生成功了，這可能意味著台灣進一步的民主化，增加保障措施，讓人民，而不是任何政黨，決定島嶼的命運。",\
    "http://www.bbc.com/news/world-asia-26743794"\
  ],\
  [ \
    "公共廣播國際",\
    "2014/3/26",\
    "台灣的學生拿著向日葵走上街頭抗議與中國的緊密關係（對一位在台大的訪問學者的訪問）",\
    "在台灣，學生們佔領了立法院的幾個議事廳，一度有成千上萬人在街頭抗議。引發事件的是一項與中國大陸的擬議貿易協議，該協議正在迅速通過立法院。",\
    "http://www.pri.org/stories/2014-03-26/taiwans-students-head-streets-sunflowers-protest-closer-ties-china"\
  ],\
  [ \
    "社會主義替代",\
    "2014/3/26",\
    "台灣：馬政府因大規模抗議和佔領國會而震動",\
    "推翻不民主的國民黨統治，發起全台灣學生罷課作為下一步！",\
    "http://www.socialistalternative.org/2014/03/26/taiwan-ma-government-rocked-mass-protests-occupation-parliament/"\
  ],\
  [ \
    "紐約時報",\
    "2014/3/27",\
    "批評聲和罕見的支持聲，中國關注台灣抗議",\
    "佔領台灣立法院的學生抗議中國貿易協議處理方式，受到中國國家媒體和許多網絡評論的譴責，但一些中國大陸的民主倡導者支持這一運動，稱其為他們努力的靈感。",\
    "http://sinosphere.blogs.nytimes.com/2014/03/27/criticism-and-rare-words-of-support-as-china-watches-taiwan-protests/?_php=true&_type=blogs&_php=true&_type=blogs&_r=1"\
  ],\
  [ \
    "經濟學人",\
    "2014/3/27",\
    "守護貿易壁壘",\
    "學生佔領台灣立法院，抗議與中國的自由貿易協議。",\
    "http://www.economist.com/news/asia/21599807-students-occupy-taiwans-legislature-protest-against-free-trade-pact-china-manning?fsrc=rss%7Casi"\
  ],\
  [ \
    "部落格（Benedict Young）",\
    "2014/3/27",\
    "我們的民主不能死",\
    "為什麼台灣的年輕人擔心他們的言論自由和未來受到威脅。",\
    "https://medium.com/stories-worth-seeing/ca727991203b"\
  ],\
  [ \
    "中國政策研究所部落格",\
    "2014/3/27",\
    "警察暴行還是相應反應？",\
    "「在制服下，我們都是台灣人」",\
    "http://blogs.nottingham.ac.uk/chinapolicyinstitute/2014/03/27/324-police-brutality-or-commensurate-response/"\
  ],\
  [ \
    "彭博商業周刊",\
    "2014/3/27",\
    "學生因缺乏共識而抵制與台灣總統會面",\
    "佔領台灣立法院超過一周的學生不會接受與馬英九總統會面的邀請，直到他顯示出更好地理解他們的訴求，這反映出馬與學生之間仍然存在分歧。",\
    "http://www.businessweek.com/news/2014-03-27/students-resist-meeting-taiwan-president-over-lack-of-consensus"\
  ],\
  [ \
    "華爾街日報",\
    "2014/3/27",\
    "台灣抗議者呼籲再一次靜坐",\
    "學生拒絕總統的會面邀請，直到他們的要求得到滿足",\
    "http://online.wsj.com/news/articles/SB10001424052702304688104579464832326172434?mg=reno64-wsj&url=http%3A%2F%2Fonline.wsj.com%2Farticle%2FSB10001424052702304688104579464832326172434.html"\
  ],\
  [ \
    "NPR",\
    "2014/3/27",\
    "為什麼台灣學生衝進政府",\
    "因此你對對方有很多先入為主的觀念。需要時間...去了解你以前的敵人。這不是一個簡單的任務。",\
    "http://www.npr.org/blogs/parallels/2014/03/27/294821478/why-taiwanese-students-stormed-the-government"\
  ],\
  [ \
    "外交學者",\
    "2014/3/27",\
    "台灣與兩岸服務貿易協議的未來",\
    "過去一周的抗議使台灣處於尷尬的境地。",\
    "http://thediplomat.com/2014/03/taiwan-and-the-future-of-the-cross-strait-services-trade-agreement/"\
  ],\
  [ \
    "全球綠黨",\
    "2014/3/27",\
    "全球綠黨新聞：台灣綠黨呼籲對台灣太陽花學生運動做出和平回應",\
    "這次公民佔領立法院是台灣歷史上的第一次。",\
    "http://www.globalgreens.org/news/gg-news-taiwan-greens-call-peaceful-response-taiwan-sunflower-student-movement"\
  ],\
  [ \
    "南華早報",\
    "2014/3/28",\
    "學生威脅舉行大規模集會，向馬英九施壓，要求撤回與北京的貿易協議",\
    "佔領立法院的抗議者加強了對島上總統的關注。",\
    "http://www.scmp.com/news/china/article/1458798/taiwanese-students-threaten-huge-rally-pressure-ma-ying-jeou-drop-trade"\
  ],\
  [ \
    "經濟學人",\
    "2014/3/29",\
    "困境中的鹿茸",\
    "台灣總統馬英九的雄心壯志與民眾對中國的懷疑相衝突",\
    "http://www.economist.com/news/asia/21599812-ambitions-ma-ying-jeou-taiwans-president-collide-popular-suspicion-china"\
  ],\
  [ \
    "BBC",\
    "2014/3/28",\
    "台灣與中國的服務協議引發擔憂",\
    "對馬英九而言，這項協議不僅將促進台灣經濟，還將邁出實現他總統任期內主要議程的一步。",\
    "http://www.bbc.com/news/business-24562042"\
  ],\
  [ \
    "BBC",\
    "2014/3/30",\
    "台灣舉行大規模抗議反對中國貿易協議",\
    "至少有10萬人走上台灣首都台北的街頭，抗議一項有爭議的與中國的貿易協議。",\
    "http://www.bbc.com/news/world-asia-26809066"\
  ],\
  [ \
    "金融時報",\
    "2014/3/30",\
    "數千台灣人集會反對與中國的緊密關係",\
    "星期天，數十萬示威者在台北市中心集會，支持佔領台灣立法院兩周的學生，抗議一項貿易協議和與中國大陸的緊密關係。",\
    "http://www.ft.com/intl/cms/s/0/1f137b9e-b7fd-11e3-af5e-00144feabdc0.html#axzz2xaeTjCgY"\
  ],\
  [ \
    "彭博觀點",\
    "2014/3/31",\
    "中國正在失去台灣嗎？",\
    "馬英九更大的失誤是假設他的人民會安靜地接受他的政治局式操作。",\
    "http://www.bloombergview.com/articles/2014-03-31/is-china-losing-taiwan"\
  ],\
  [ \
    "紐約時報",\
    "2014/3/31",\
    "台北街頭擠滿抗議中國貿易法案的人群",\
    "全國對馬英九總統及其政府的信任度非常低，對這項協議的審查非常草率。",\
    "http://sinosphere.blogs.nytimes.com/2014/03/30/large-crowds-fill-taipei-streets-in-protest-over-china-trade-bill/"\
  ],\
  [ \
    "遠東甘薯",\
    "2014/3/31",\
    "中國的黑幫代理威脅太陽花運動",\
    "黑幫變成政治人物的張安樂現在似乎成為立法院持續危機中的一個因素。",\
    "http://fareasternpotato.blogspot.tw/2014/03/chinas-gangster-proxy-threatens.html"\
  ],\
  [ \
    "紐約時報",\
    "2014/4/1",\
    "台灣學生抗議與中國的貿易協議",\
    "示威者表示他們擔心這項協議會讓北京對台灣經濟有過多影響。",\
    "http://www.nytimes.com/2014/04/01/opinion/students-in-taiwan-protest-trade-deal-with-china.html?_r=0"\
  ],\
  [ \
    "華爾街日報",\
    "2014/4/1",\
    "數十萬台灣人抗議中國協議",\
    "台灣所謂的太陽花運動中的抗議者在反政府集會進入第二周時加緊行動。華爾街日報的拉米·伊諾森西奧與台北的珍妮·許討論了一項政府支持的貿易協議，批評者稱該協議偏袒北京。",\
    "http://live.wsj.com/video/hundreds-of-thousands-in-taiwan-protest-china-deal/6386DF3C-1065-4EA6-A377-1CA37FA810CB.html#!6386DF3C-1065-4EA6-A377-1CA37FA810CB"\
  ],\
  [ \
    "外交學者",\
    "2014/4/1",\
    "告別“和平統一”",\
    "立法院成功佔領表明，未來的和平統一是一個幻想。",\
    "http://thediplomat.com/2014/04/say-goodbye-to-peaceful-unification/"\
  ],\
  [ \
    "台北時報",\
    "2014/4/2",\
    "“白狼”領導親服貿集會",\
    "張安樂說反對協議的學生“不配當中國人”，卻被告知“我們不是中國人...我們是台灣人”。",\
    "http://www.taipeitimes.com/News/front/archives/2014/04/02/2003587076"\
  ],\
]


h2.sub-header 報導

p 捲到<a href="#last">頁尾</a>

.press-item-group
- presses.each do |press|
  .press-item
    blockquote= "#{press[3]}"
    cite
      a href="#{press[4]}" target="_blank"
        = "#{press[0]} #{press[1]}<br>#{press[2]}"
