/ :name => '圖檔名稱'
/ :desc => '文字敘述'

- photos = [ \
  { :name => '001',\
    :desc => "",\
    },\
  { :name => '002',\
    :desc => '',\
    }, \
  { :name => '003',\
    :desc => '',\
    }, \
  { :name => '004',\
    :desc => '',\
    }, \
  { :name => '005',\
    :desc => '',\
    }, \
  { :name => '006',\
    :desc => '',\
    }, \
  { :name => '007',\
    :desc => '',\
    }, \
  { :name => '008',\
    :desc => '',\
    }, \
  { :name => '009',\
    :desc => '',\
    }, \
  { :name => '010',\
    :desc => '',\
    }, \
  { :name => '011',\
    :desc => '',\
    }, \
  { :name => '012',\
    :desc => '',\
    }, \
  { :name => '013',\
    :desc => '',\
    }, \
  { :name => '014',\
    :desc => '',\
    }, \
  { :name => '015',\
    :desc => '',\
    }, \
  { :name => '016',\
    :desc => '',\
    }, \
  { :name => '017',\
    :desc => '',\
    }, \
  { :name => '018',\
    :desc => '',\
    }, \
  { :name => '019',\
    :desc => '',\
    }, \
  { :name => '020',\
    :desc => '',\
    }, \
  { :name => '021',\
    :desc => '',\
    }, \
  { :name => '022',\
    :desc => '',\
    }, \
  { :name => '023',\
    :desc => '',\
    }, \
  { :name => '024',\
    :desc => '',\
    }, \
  { :name => '025',\
    :desc => '',\
    }, \
  { :name => '026',\
    :desc => '',\
    }, \
]

- photos = photos.map{ |p| OpenStruct.new(p) }

h2.sub-header Photos

p Scroll to <a href="#last">page bottom</a>.

.photo-item-group
  - photos.each do | photo |
    .photo-item
      .photo
        img.lazy data-original="/images/photos/#{photo.name}.jpg" src="/images/loading.png"
        noscript: img src="/images/photos/#{photo.name}.jpg"
      p.text=photo.desc
