- days = []
- days << [\
  { :date => '2013/6/21',\
    :b => "Before Occupation Closed-door agreements incited doubts" ,\
    :text => 'Ma\'s government signed a free trade agreement with China in 2010 called the Economic Cooperation Framework Agreement (ECFA). Within the framework of ECFA, Ma proceeded with the Cross-Strait Service Trade Pact (CSSTP) with China on 2013-06-21 during the Ninth Conference of Both Sides of Taiwan Strait Summit.  The problem was that this entire process gives off the perception of being "under the table".  It was later revealed that the pact did not even reach consensus within the KMT.',\
    :image => 't0-1',
  },\
  { :date => '2013/6/20–6/25',\
    :text => "On 2013-06-20,Hao Ming-yi(Rex Hao), a national policy advisor to the President, wrote an open letter against the Cross-Strait Service Trade Pact. Hao warned the public of risks to national security and jobs in the publishing industry. The letter aroused wide spread discussion. Wang Jin-pyng, the incumbent President of the Legislative Yuan, held cross-caucus negotiations, and later openly requested the Executive Yuan not to put the CSSTA into effect until the public hearings were hosted and the provisions were reviewed clause-by-clause.",\
    :image => 't0-2',
  },\
  { :date => '2013/6/01–12/31',\
    :text => "KMT Legislator Chang Ching-chung planned to host 8 public hearings in 3 days. Such crudity incited disagreement from opposition parties and civil rights groups. Finally, the parties agreed that the provisions should not be reviewed in the session.",\
    :image => 't0-3',
  },\
  { :date => '2014/3/11',\
    :text => "President Ma attended the U.S.-China Economic and Security Review Commission (USCC) annual meeting. He stated that the government would ensure the CSSTA to be reviewed and ratified by June 2014.",\
    :image => 't0-4',
  },\
  { :date => '2014/3/11–3/16',\
    :text => 'Soon after the public hearings had been held, the rotating committee chair, DPP legislator Chen Chi-mai, held a sitting for the deliberation of the pact. However, KMT legislators strongly boycotted the sittings to "prevent a DPP boycott in the name of deliberation." The sitting turned into a fight club and the process was suspended.',\
    :image => 't0-5',
  },\
  { :date => '2014/3/17',\
    :text => "During the KMT's turn to host the review sitting, the brawl continued. Chang Ching-chung, the sitting’s host and caller, announced next to the restroom that the Joint Committee had finished the review and the CSSTA should move forward to the Executive Yuan. Chang made this announcement in only 30 seconds. Not a single clause was reviewed in the process.",\
    :image => 't0-6', }\
]

- days << [\
  { :date => '2014/3/18',\
    :title => 'Students Occupy the Parliament to Oppose Closed Door Agreements',
  },\
  { :time => '18:00',\
    :b => 'Service Trade Pact Incites Opposition, Non-Governmental Organizations Protest Before the Parliament',\
    :text => 'As a response to the forcible means by which the KMT pushed the legislation through committee, Democratic Front and other NGOs hosted a public demonstration they called "Defend Democracy Tonight." The gathering was held on Jinan S. Rd. (next to the legislature) and more than 500 people attended to voice their support.',\
    :image => 't1-1',
  },\
  { :time => '21:00',\
    :b => 'Students Broke the Police Blockade, Rammed in the Parliament',\
    :text => 'Towards the end of the demonstration, more than 200 students breached the police blockade and then stormed into the legislature via the Jinan S. Road gate under the leadership of two graduate students (Chen Wei-ting, from NTHU and Lin Fei-fan, from NTU) and the cross-university organization Black Island Nation Youth Frontier.',\
    :image => 't1-2',
  },\
  { :time => '21:30',\
    :b => 'Students Declared the Success of Congress Occupation.',\
    :text => 'Lin Fei-Fan led more than 10 students into the congress chamber. The front gate was opened in order to let more students in. The students hung banners and billboards over the rostrum and declared that the occupation has succeeded.',\
    :image => 't1-3',
  },\
  { :time => '22:00',\
    :b => 'Students: Occupy until the KMT apologizes',\
    :text => 'Parliament police tried to evict the students. After a 30 minute standoff, Lin Fei-Fan, the chief commander of the protest declared that the occupation would last until the KMT issues an apology.',\
    :image => 't1-4',
  },\
]

- days << [\
  { :date => '2014/3/19',\
    :title => 'Police Attempted Three Waves of Assaults. Students Announced Their Demands.',
  },\
  { :time => '3:30',\
    :b => 'The First Assault Wave Failed',\
    :text => 'During the police’s first wave of attempt at removing the students, protesters blocked the doorways with barricades made of furniture, crying "Reject Fu-Mao (ie. Cross-Strait Service Trade Pact)! Defend democracy!" DPP lawmaker Kuan Bi-ling, Yeh Yi-jin and others helped stop the police.',\
    :image => 't2-1',
  },\
  { :time => '5:23',\
    :b => 'The Second Assault Wave failed, Riot Police Gathered',\
    :text => 'The police attempted to remove the students for a second time. The confrontation lasted for 30 minutes, until DPP legislator Duan Yi-kan heavily intervened. During this time, riot police gathered outside the parliament, preparing for the next wave.',\
    :image => 't2-2',
  },\
  { :time => '6:10',\
    :b => 'The Police Failed the Third Wave of Assault',\
    :text => 'The police tried to pull students out from the entrance on Jinan Road. TSU legislator Chou Ni-an blocked the entrance with her body. The police could not arrest legislators, so they retreated for the third time.',\
    :image => 't2-3',
  },\
  { :time => '8:00',\
    :b => 'Students Ask Ma to Apologize, Demand Premier Jiang to Resign and Police to Retreat',\
    :text => 'The students held a press conference, demanding President Ma to apologize, the police to retreat from parliament and Premier Jiang Yi-huah to resign. Lin Fei-fan spoke to the students in the congress chamber: "This is the first time the people of Taiwan have entered the congress chamber. We did it." Lin demanded direct conversations with the President.',\
    :image => 't2-4',
  },\
  { :time => '19:00',\
    :b => 'Ministry of the Interior: No timetable for eviction',\
    :text => 'Students in the congress chamber continued sitting in. The Ministry of the Interior stated there is no timetable for evicting the students. National Police Agency Chief, Director-General Wang Cho-chiun said that it was difficult for the police to evict the students because legislators were blocking the entrances to the congress chamber.',\
    :image => 't2-5',
  },\
  { :time => '22:14',\
    :b => 'Student Groups Made an Appeal to Congress to Not Enforce Police Power',\
    :text => 'NTU Student Association and 4 more student groups jointly appealed to Wang Jin-ping to neither enforce congressional police power, nor evict the students and civilians violently. They hope the ruling party can adhere to its promise of reviewing the CSSTA under proper legislative procedures (clause-by-clause), as originally envisaged in an inter-party agreement.',\
    :image => 't2-6',
  },\
]

- days << [\
  { :date => '2014/3/20',\
    :title => 'Students Issue an Ultimatum to Ma’s Government',
  },\
  { :time => '10:00',\
    :b => 'Students Asked President Ma and Congressional Speaker Wang to Respond to Their Demands On-Site',\
    :text => 'The student leader Lin Fei-fan stated that President Ma should promptly respond to their manifesto and Speaker Wang should answer public concerns as well as withdraw police forces in the Congress. If no responses were received before noon on March 21st, students would take additional steps.',\
    :image => 't3-1',
  },\
  { :time => '11:00',\
    :b => 'College Faculty and Students Mobilize Support via Facebook',\
    :text => 'Students from more than 100 universities mobilized support online against the CSSTA, while National Taiwan University Professor Fan Yun and 43 professors relocated to the Legislative Yuan, teaching outdoor classes on the topic of democracy, civil disobedience and human rights.',\
    :image => 't3-2',
  },\
  { :time => '20:00',\
    :b => 'Speaker Wang: Student Voices are Heard',\
    :text => 'In a public statement, Speaker Wang stated that all parties have heard the students and their manifestos. He would now negotiate, communicate and review through every possible channel for a solution in response to concerns from the students and the public.',\
    :image => 't3-3',
  },\
  { :time => '21:52',\
    :b => 'Ma: Conference between Yuans. Students: Refuse Negotiations behind Closed Doors',\
    :text => 'Due to the Article 44 in the Constitution of the Republic of China, President Ma planned to meet with Vice President Wu, Speaker Wang and Premier Jiang to work out a solution. Student leader Lin Fei-fan disagreed with this arrangement, stating "This secret negotiation behind closed doors is a completely unacceptable response."',\
    :image => 't3-4',
  },\
]

- days << [\
  { :date => '2014/3/21',\
    :title => 'Ma Refuses to Respond, Students Continue Non-Violent Demonstration',
  },\
  { :time => '6:00',\
    :b => 'Students Reaffirm Non-Violent Principles',\
    :text => 'Students occupying the legislative Yuan established common rules such as maintaining a non-violent demonstration, no vandalizing, recycling and maintaining peace and reason. They cleaned up the environment, and requested people to smoke outdoors.',\
    :image => 't4-1',
  },\
  { :time => '10:45',\
    :b => 'Students: We Aren\'t Enemies, Mr. President',\
    :text => 'Student leader Lin Fei-fan stated that the government should reject CSSTA before an ultimatum. He reiterated that concerned students and civilians are not rioters and should not be treated as an enemy or threat to the government. Demonstrators are always open to conversation and waiting for a positive response.',\
    :image => 't4-2',
  },\
  { :time => '12:00',\
    :b => 'Wang refused to attend Inter-Yuan conference, no response from Ma on Student\'s Ultimatum',\
    :text => 'President Ma planned to hold a conference with Premier Jiang and Speaker Wang, but Wang refused to attend due to concerns regarding the student movement. Ma did not respond to any of the student demands before ultimatum.',\
    :image => 't4-3',
  },\
  { :time => '17:11',\
    :b => '52 University Presidents Hope for a Resolution',\
    :text => 'The Association of National Universities of Taiwan, organized by 52 public universities, issued a statement that voiced their concerns about the students occupying Legislative Yuan and hope for both sides to communicate in order to find a resolution as soon as possible.',\
    :image => 't4-4',
  },\
  { :time => '18:00',\
    :b => 'Students Raised the Scale of Demonstration, While the Occupation Continues.  No Response from Ma',\
    :text => 'Due to not receiving a response from President Ma, the students decide to expand the demonstration. The student movement leaders criticizes Ma\'s government of losing its legitimacy, and calls all citizens to organize sit-ins in front of KMT offices around Taiwan. "Occupy Congress, No Withdrawal," shout the students.',\
    :image => 't4-5',
  },\
]

- days << [ \
  { :date => '2014/3/22',\
    :title => 'Conversations Halted After Ma\'s Government Refused Demands',
  },\
  { :time => '16:00',\
    :b => 'Conversation Ends After Premier Rejects Two Prerequisites',\
    :text => "Premier Jiang visits protest site for a conversation with student leader Lin Fei-fan. However, two prerequisites set by Lin, including rejecting CSSTA and establishing a formal monitoring mechanism for future agreements with China, were rejected by Jiang. Lin asks Jiang to leave. While Jiang is speaking, student leader Chen Wei-Ting shouts \"No to CSSTA\" and \"Ma, talk to us\" with the students.",\
    :image => 't5-1',
  },\
  { :time => '18:00',\
    :b => 'Premier: Conversations Are Only Possible Without Prerequisites',\
    :text => "After the conversation with students ended in boos, Premier Jiang held a press conference in the Administrative Yuan. He is encouraged by President Ma to communicate with students, says Jiang. While he recognizes students are concerned about their future, he disagrees with the occupation of the Legislative Yuan. He reminds the public that ideal conversations are only possible without prerequisites.",\
    :image => 't5-2',
  },\
  { :time => '18:30',\
    :b => 'Premier Refuses to Reject CSSTA, Students Insist on Demonstration',\
    :text => "Student leader Chen Wei-ting states that it is disappointing that the Premier cannot even respond to two basic requests. Students will continue demonstrating until positive responses from the government are received.",\
    :image => 't5-3',
  },\
]

- days << [ \
  { :date => '2014/3/23',\
    :title => 'Students Occupied Executive Yuan after Repetitive Statements from Ma',
  },\
  { :time => '10:00',\
    :b => 'President Ma Holds International Press Conference',\
    :text => "President Ma held an international press conference, where he refuses to reject CSSTA and questions \"is this the democracy we want?\" One journalist asks about legislative process and justification, but Ma shirks responsibilities to the Legislative Yuan. When another journalist questions if the CSSTA is signed under pressure from Beijing, Ma looks astonished and answers, \"absolutely not.\"",\
    :image => 't5-4',
  },\
  { :time => '13:00',\
    :b => 'Students Hold Four Appeals After Repetitive Statements from Ma',\
    :text => "Sunflower Movement is initiated because of illegal legislative process, says student leader Lin Fei-fan, and protesters are frustrated that Ma disregards public opinions in his repetitive statements. The students have four appeals: a citizen constitutional congress, establishment of a formal monitoring mechanism for future agreements with China, delay CSSTA process until monitoring mechanism is formalized and promises from all legislators to act without restrictions from their political party.",\
    :image => 't5-5',
  },\
  { :time => '19:35',\
    :b => 'Students Raid Executive Yuan',\
    :text => "Frustrated by responses from officials, over 200 students raided the Executive Yuan with cardboard and bed sheets to climb over barricades. 40 police officers were at the scene but could not stop the crowds. More than 1,000 students occupied the Executive Yuan for non-violent demonstrations.",\
    :image => 't5-6',
  },\
  { :time => '22:00',\
    :b => 'Police Gather for Clearing',\
    :text => "1,500 police officers gathered and stormed the Executive Yuan with water cannons, preparing to drag away all students in the building. Over 1,000 students occupied the front yard, while 6,000 citizens gathered outside the Executive Yuan.",\
    :image => 't5-7',
  },\
]

- days << [ \
  { :date => '2014/3/24',\
    :title => 'Six waves of bloody suppressions, the police took back government HQ',
  },\
  { :time => '0:08',\
    :b => 'The First Wave of Forced Evacuation',\
    :text => "Riot police armed with batons and shields forced about 600 students out of Beiping E. Road and the rear gate of the Executive Yuan. 23 students were arrested as criminals. One of the students was struck by a police shield in the left eye, causing wounds and severe bleeding.",\
    :image => 't6-1',
  },\
  { :time => '0:28',\
    :b => 'The Second Wave of Forced Evacuation',\
    :text => "The police initiated the second wave of forced evacuation, despite the students maintaining the principles of non-violent demonstration by lying on the ground, arm in arm, crying \"Reject Fu-Mao (Cross-Strait Service Trade Pact),\" and accusing the police of violating the constitution. The police asked the students to retreat with bullhorns, forcefully dragging students, and attacking them with shields. The police evicted some 300 students on Beiping E. Rd.",\
    :image => 't6-2',
  },\
  { :time => '2:10',\
    :b => 'The Third Wave of Forced Evacuations',\
    :text => "Riot police forcefully evicted people on Tianjin St. and Beijing E. Rd. Within 30 minutes, some 200 students occupying the courtyard of the Executive Yuan were forcefully evacuated. Many civilians escaped with blood all over their faces, telling the media the police had forcefully attacked peaceful protesters.",\
    :image => 't6-3',
  },\
  { :time => '2:55',\
    :b => 'The Fourth Wave of Forced Evacuations',\
    :text => "The police evicted unarmed civilians for the fourth time, carrying them away one by one. Some evicted civilians came back to the Executive Yuan, intending to raid it again, but were forced to leave.",\
    :image => 't6-4',
  },\
  { :time => '4:05',\
    :b => 'The Fifth Wave of Forced Evacuations, the police isolated the media from civilians to attack them',\
    :text => "The police forcefully evacuated the sit-in students at the front gate. The water cannons came in, blasting the unarmed, peaceful students who linked arms and chanted slogans loudly. Inside the Executive Yuan, protesters were outnumbered by the police. The police then forced the media out of the Executive Yuan, isolating the protesters within the first and second floor of the building. Riot police then attacked students, ignoring that the students were unarmed and were not fighting back.",\
    :image => 't6-5',
  },\
  { :time => '4:26',\
    :b => 'The Sixth Wave of Forced Evacuations - Water Cannons blasted the Crowd',\
    :text => "The police started the sixth wave of forceful evacuations by dispatching water cannons to blast the crowd at the front and side gates of the Executive Yuan.",\
    :image => 't6-6',
  },\
  { :time => '4:30',\
    :b => 'Wei Yang, NTHU Graduate Student, was cuffed and arrested',\
    :text => "Wei Yang, graduate student of Institute of Sociology, NTHU, came to support the protesters at the Executive Yuan. He was accused by the police of being the chief commander of the occupation and was arrested. Before the arrest, Wei Yang wrote on Facebook: \"I\'m sorry, I know it is irresponsible to mobilize people like this… We took over the Executive Yuan, not only to relieve the pressure on our comrades at the Legislative Yuan, but to show our resolution to the Ma government.\"",\
    :image => 't6-7',
  },\
  { :time => '5:10',\
    :b => 'The Executive Yuan Completely Cleared Out',\
    :text => "After a long night of forced evacuation, the Executive Yuan was completely cleared out. Crowds gathered outside the East and West gates, confronting the police. Since civilians continue to gather, attacking the police with stones and water bottles, riot police dispatched water cannons for the third time, blasting the crowd to drive them back to Qingdao E. Rd.",\
    :image => 't6-8',
  },\
  { :time => '11:00',\
    :b => 'Premier Jiang denies the bloody suppressions and disregards the violence',\
    :text => "Premier Jiang accused the students' actions as \"a plot planned in advance.\" He stated that the movement has already become out of control. However, despite several live videos of police violently attacking civilians on the Internet, Premier Jiang insisted that it was a distortion of facts when some media illustrated the protection of Executive Yuan as a bloody crackdown. \"The police simply patted their shoulders and lifted them,\" quoted Premier Jiang. Internet videos posted by the protesters were constantly reported to be removed by anonymous users.",\
    :image => 't6-9',
  },\
  { :time => '16:00',\
    :b => 'Students Condemned Premier Jiang for Violent Crackdown',\
    :text => "Chen Wei-ting, student leader of the anti-CSSTA movement, condemned the government for punishing students as a warning to the public. He wept bitterly at the press conference. Lin Fei-fan criticized Premier Jiang as not qualified to be a professor (Jiang used to be a professor in Political Science) and the Premier of Taiwan. He added, \"Using violence to crack down on civilians will be your epitaph and what you are known for in history.\"",\
    :image => 't6-10',
  },\
  { :time => '17:00',\
    :b => 'Failure to Reach Consensus in Legislative Yuan.',\
    :text => "Facing a deadlock in Legislative Yuan, Speaker Wang Jing-pyng, convened both KMT and DPP parties to a conference between caucuses. However, the two confronting parties failed to reach consensus.",\
    :image => 't6-11',
  },\
]

- days << [ \
  { :date => '2014/3/25',\
    :title => 'Citizens Condemn State Violence',
  },\
  { :time => '0:00',\
    :b => 'Wei Yang Was Released Without Bail',\
    :text => "Wei Yang was ordered back by Taipei district court. The court ruled that there was no evidence to support the allegations against him. When he walked out, dozens of supporters cheered and his mother and sister were waiting for him. Once Wei Yang saw his mother, he hugged her and the tears turned into a smile.",\
    :image => 't7-1',
  },\
  { :time => '7:00',\
    :b => 'Crowd-Funding raised $6.7 Million for anti-CSSTA ads within 3 hours',\
    :text => "11 netizens called for crowd-funded newspaper ads in Apple Daily and The New York Times to spread awareness of the Sunflower Movement via crowd-funding platform flyingV. The slogan \"Why are they here?\" addressed their reasons for protest their opposition towards the behind-the-doors negotiation of the CSSTA. The ad emphasized that \"blood has been shed on the ground, but the future is too bright for us to abandon it.\" The first 1.5 million dollars for the front page ad on Apple Daily was raised in 35 minutes. Within 3 hours, 6.7 million dollars had been raised to also run a front page ad in The New York Times. 3,621 people contributed to the cause.",\
    :image => 't7-2',
  },\
  { :time => '10:00',\
    :b => 'Students insist on Legalizing Mechanism to Supervise Cross-Strait Pacts',\
    :text => "Lin Fei-fan stated that there aren't any laws to supervise and review cross-strait agreements at a press conference held in the Legislative Yuan. Students requested the establishment of laws on supervising agreements between cross-strait agreements. Students also requested to meet Speaker Wang again.",\
    :image => 't7-3',
  },\
  { :time => '10:00',\
    :b => 'Ma: Willing to Meet the Students Without Preconditions',\
    :text => "President Ma stated his willingness to invite the student representatives to discussions at the Presidential Office in order to resolve the current dilemma and allow congress to operate normally.",\
    :image => 't7-4',
  },\
  { :time => '15:00',\
    :b => 'Students Reply: Conversations With Ma Should Cover Supervising Regulations On the Agreement',\
    :text => "Lin Fei-fan said students welcome President Ma to have conversations with them without any preconditions. Lin stated that the students would like to discuss establishing laws governing cross-strait trade pacts. Chen Wei-ting said if there is no compromise on the issue, students request to set up the laws supervising the pact, including an investigation on the pact itself.",\
    :image => 't7-5',
  },\
  { :time => '22:00',\
    :b => 'Cross-Party Consultation Has No Progress, Students Reject Ma\'s Invitation',\
    :text => "Since the cross-party negotiations continually fail to reach a consensus, students accuse President Ma of using his power to control the parties, causing the pact's inability to be executed in the Legislative Yuan. The students condemned his lack of sincerity and requested Ma to not control KMT legislators' right to express their will in order to establish laws on governing the pact.",\
    :image => 't7-6',
  },\
]

- days << [ \
  { :date => '2014/3/26',\
    :title => 'Violent or Nonviolent Eviction? The Truth That Cannot be Covered',
  },\
  { :time => '11:00',\
    :b => 'President Ma Agrees to Hold a Public Conversation with the Students',\
    :text => "The Presidential Office released a statement regarding President Ma’s agreement to talk to the students without preconditions, and he would choose an open and transparent situation accompanied by various media. The Presidential Office has been waiting on an official response from the student representatives. ",\
    :image => 't8-1',
  },\
  { :time => '12:00',\
    :b => 'Secretary General of Executive Yuan: Premier Jiang Ordered Police to Evict Protesters',\
    :text => "Police Agency Director-General Wang Cho-Chiun and Secretary General of Executive Yuan Lee Shu-Chuan reported on the “bloody crackdown on unarmed students” during a meeting with the Legislature’s Internal Administration Committee. Lee confirmed that it was Premier Jiang who gave the order to have the police evict the protesters.",\
    :image => 't8-2',
  },\
  { :time => '12:00',\
    :b => 'Police Partially Apologized for the Use of Violence',\
    :text => "Under DPP legislator Kuan Bi-Ling’s interrogation, National Police Agency Director General Wang admitted that the violent eviction could have been replaced with nonviolent methods, but the commander on-the-spot didn’t apply them. Wang conceded that the process of law enforcement had flaws, which impacted all citizens, so he was willing to partially apologize.",\
    :image => 't8-3',
  },\
  { :time => '15:00',\
    :b => 'President Ma: The Examination of the CSSTA is the Strictest in History',\
    :text => "After nine months of questioning by the general public on the nature of the closed door negotiation of CSSTA, President Ma emphasized for the first time in front of the KMT Central Standing Committee that the CSSTA was never a closed door agreement. Ma said, “CSSTA was examined word by word before it was voted on. It was the strictest way to exam, so it was not passed behind closed doors.”",\
    :image => 't8-4',
  },\
  { :time => '20:00',\
    :b => 'The Executive Yuan Clarify That The Eviction Was Non-violent',\
    :text => "The Executive Yuan representative revealed a video of the eviction on March 24, clarifying that the eviction was not violent. However, many online videos showed that part of the police force not only used sticks to hit civilians on their head, but also used protective shields to bash peaceful protesters. Also, there were online videos verifying that the damaged public property was destroyed by the police, not the students who were condemned by Premier Jiang.",\
    :image => 't8-5',
  },\
]

- days << [ \
  { :date => '2014/3/27',\
    :title => 'Students Gained Public Approval On Occupation',
  },\
  { :time => '0:00',\
    :b => '64.9% Approves Students Occupation',\
    :text => "KMT raised the doubt that the student movement might not fully represent the majority of Taiwan; however, many recent polls show that there is significant public support for the occupation movement and the students’ primary demands.",\
    :list => ['Approval rate of students’ occupation: 64.9% (Business Today )', 'Agreement rate of the fact that the occupation is protecting democracy: 63% (TISR)', 'Approval rate of which a law is needed before passing the trade pact: 69.8% (Apple Daily)', 'Agreement rate to the fact that the mass expulsion at Executive Yuan is conducted improperly: 58.06% (Apple Daily)', 'Appoval rate of President Ma: 16%; disapproval: 69.4% (TISR)', 'Approval rate of Premier Jian: 15.9%; disapproval: 65.5% (TISR)'],\
    :image => 't9-1',
  },\
  { :time => '12:00',\
    :b => 'The Third Cross-party Consultation Failed',\
    :text => "Wang Jin-pyng, the incumbent President of the Legislative Yuan called for the third cross-party consultation, but there is still no progress.",\
    :image => 't9-2',
  },\
  { :time => '15:00',\
    :b => 'Students Expand the Protest into a March',\
    :text => "Student leaders asked for nation-wide participation to march on Ketagalan Boulevard, at 1pm, March 30th. The march will end at 7pm and the students will remain at the Legislative Yuan.",\
    :image => 't9-3',
  },\
  { :time => '17:00',\
    :b => 'President Ma Ying-jeou: Everything is Negotiable',\
    :text => "Li Jia-fei, the spokesperson for the president's office, said that President Ma is willing to invite student representatives to his office to exchange opinions and discuss issues on the Cross-Strait Service Trade Agreement with China \"without any preconditions.\"",\
    :image => 't9-4',
  },\
]

- days << [ \
  { :date => '2014/3/28',\
    :title => 'Premier on the Frontline: the CSSTA must not be withdrawn ',
  },\
  { :time => '10:00',\
    :b => 'Premier Jiang :The CSSTA should neither be withdrawn, nor deliberated after new legislation.',\
    :text => "Premier Jiang declared that he “[disagrees] with the fact that it (the CSSTA) should neither be withdrawn, nor be deliberated after new legislation”. This statement apparently denied the students’ appeal, even though Ma just claimed “everything is negotiable” just one day ago.",\
    :image => 't10-1',
  }\
]

- days << [ \
  { :date => '2014/3/29',\
    :title => 'President Ma said he would consider students\' 4 appeals but refused to withdraw CSSTA.',
  }\
]

- days << [ \
  { :date => '2014/3/30',\
    :title => 'The largest-ever recorded mass movement',
  },\
  { :time => '13:00',\
    :text => "Volunteers are making sure everyone remains hydrated. Crowds are peaceful, energetic and hopeful.",\
    :image => 't12-1',
  },\
  { :time => '15:00',\
    :text => "People around the world took action to support the occupy parliament movement in Taiwan.",\
    :image => 't12-2',
  },\
  { :time => '17:00',\
    :text => "More than 350,000 Black Shirt protesters showed up on streets.",\
    :image => 't12-3',
  },\
  { :time => '20:00',\
    :text => "The rocking band “Fire Ex” sang the theme song “Island's Sunrise” with protesters on the square.",\
    :image => 't12-4',
  },\
  { :date => 'A New Day Will Come...', }\
]


- data = []
- days.each do |day|
  - data << day.map{ |d| OpenStruct.new(d) }

h2.sub-header Timeline
p Chinese Version (中文版) <a href="http://infographic.appledaily.com.tw/project/2014032701" target="_blank">Click HERE</a>.<br>Scroll to <a href="#last">page bottom</a>.

- data.each do | day |
  .timeline
    .timeline-bar
    - day.each do | date |
      .timeline-item
        - if date.date
          .date= date.date
        - if date.time
          .time= date.time
        .timeline-item-content
          - if date.title
            .title= date.title
          - if date.text
            p
              - if date.b
                b= date.b
              = date.text
          - if date.list
            ul
              - date.list.each do |item|
                li= item
          - if date.image
            .image
              img.lazy data-original="/images/timeline/#{date.image}.jpg" src="/images/loading.png"
              noscript: img src="/images/timeline/#{date.image}.jpg"
