.timeline {
  position: relative;
}
.timeline-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: darken($background-gray, 15%);
  z-index: -1;
}
.timeline-item {
  @include pie-clearfix;
  position: relative;
  @include trailer(1);
  color: $color-gray;
  padding-left: 26px;
  &.end {
    @include padding-trailer(1);
  }
  .date {
    @include adjust-font-size-to(20px);
    font-weight: bold;
    background-color: $background-black;
    color: $color-gray;
    &:before {
      $dot-size: 12px;
      content: '';
      position: absolute;
      border: 6px solid $background-black;
      width: $dot-size;
      height: $dot-size;
      background-color: $background-gray;
      left: -11px;
      @include border-radius(20px);
    }
  }
  .title {
    float: left;
    @include adjust-font-size-to(20px);
    font-weight: bold;
  }
  .time {
    $dot-size: 8px;
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      border: 4px solid $background-black;
      width: $dot-size;
      height: $dot-size;
      background-color: $background-gray;
      left: -7px;
      @include border-radius(20px);
    }
  }
  .text {
    color: darken($color-gray, 15%);
    @include adjust-font-size-to(15px);
  }
  .image {
    @include trailer(1);
    img {
      display: block;
      @include trailer(0);
    }
  }
  @include at-breakpoint($pad) {
    padding-left: 20px;
    .date {
      float: left;
    }
    .title {
      padding-left: 0;
    }
    .time {
      float: left;
    }
  }
}

.timeline-item-content {

  @include at-breakpoint($pad) {
    @include span-columns(7 omega);
  }
}

