h2.sub-header 我們佔領了議會

markdown:

  我們是來自台灣的學生。我們以和平理性的方式佔據了台灣的立法院，為了捍衛我們來之不易的民主。自3月19日以來，成千上萬的公民加入了我們。

  現在是台灣的凌晨4點。憲政民主正處於最黑暗的時刻。請與我們一同見證黎明的到來。

  ---

  # 在凌晨 4 點的民主

  ## 沒有你的清晨是暗淡的黎明

  在2014年3月19日凌晨4點，400名學生佔據了台灣的立法院，抗議與中國的服務貿易協議。該協議引發國家安全問題，對台灣經濟構成重大風險。超過10,000名學生以和平靜坐的方式參與抗議活動，對政府秘密談判和處理該協議的方式表示強烈反對。該協議未按照原本黨間協議所預期的逐項審查而被倉促通過立法機構。這場"反黑箱"抗議活動拒絕政府缺乏透明度和對民眾關切的回應。佔領立法院的行動已經成為一場歸還權力給民眾的人民運動。教授、音樂家、律師、醫生以及來自各行各業的數以萬計的人們紛紛加入抗議行列，表達支持之意。

  在總統和執政黨未能作出回應後，學生們在3月24日凌晨4點擴大了抗議行動。當局派遣警察使用警棍、防暴盾牌、皮帶和水炮將和平抗議者驅散，並對他們進行毆打以達到使其屈服的目的。警方的暴力行為導致抗議者多人受傷，他們只能以身軀來保護自己。媒體也被從現場驅逐。

  一個單一的協議讓台灣的民主再次陷入黑夜最黑暗的時刻。所有抗議者和支持台灣民主的人們都以堅定的決心團結一致，不休息，不退讓。我們將捍衛台灣民主的基石——政府必須透明且對人民的利益負責。

  **台灣需要您的關注和支持。** 今天，我們邀請您與來自50多個城市的數十萬名支持者一同加入我們，支持基本的民主價值。

  我們邀請您訪問《在凌晨 4 點的民主》網站，透過公民的視角第一手了解這一事件。請以您的照片和一朵太陽花留下訊息來支持我們。

  凌晨4點可能看起來是黑暗的時刻，但我們相信隨著越來越多的人覺醒於真相，民主的曙光將不再遙遠。
