h2.sub-header 關於我們

markdown:
  **我們是一群關心的公民。**由於當地新聞媒體的資訊被操控，太陽花學運的示威者被誤認為暴徒。我們希望透過集體的努力提高公眾意識。通過台灣的群眾募資平台FlyingV，3,621位公民參與了這個運動，我們在不到三小時內達成了目標。
  在《國際紐約時報》的整版廣告只是賦予所有公民力量的第一步。知識和真相讓我們有能力打破人與人之間的障礙。我們的目標是向廣大公眾提供第一手資訊，不受審查或過濾。當地媒體疏遠抗議者時，這些公民其實和你我沒有差別。我們都關心我們的民主和未來。
  許多人已經在網絡上動員起來，參與線下的運動，但我們需要更多人加入。這是我們收集和展示街頭不同聲音的地方。透過照片、影片和資訊，你應該獲得未經過濾的資訊，以便做出自己的判斷。


.thanks
  markdown:
    ## 特別感謝

    太陽花學生運動,<br>
    批踢踢實業坊,<br>
    3621 公民,<br>
    Sunlight Seeker,<br>
    g0v 零時政府,<br>
    聶永真,<br>
    設計師勞哥 maylogger,<br>
    Bonana King,<br>
    沃草,<br>
    flyingV,<br>
    蘋果日報,<br>
    自由時報,<br>
    國際紐約時報,<br>
    與... **你**
