h2.sub-header 我們需要你的支持

markdown:
  ## 社群平台分享

  1. 使用 <a href="https://twitter.com/intent/tweet?button_hashtag=CongressOccupied&text=在凌晨4點的民主：台灣史上前所未有的抗爭&url=http%3A%2F%2F4am-tw.sota.design/tw/&via=may_logger" target="_blank" >Twitter</a>
  或 <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F4am-tw.sota.design/tw/" target="_blank">Facebook</a> 分享這個網站。
  2. 上傳一張向日葵照片，以 Twitter 標籤 *#CongressOccupied #SunflowerMvmt* 來表達你的支持
  3. 隨時關注我們的最新消息

  ## 加入我們

  你可以加入我們，參與全球太陽花學運。有關活動地點、時間和更多信息，請 <a href="https://docs.google.com/spreadsheet/ccc?key=0AqFyWxftPKuEdDlmU2hGdkgzSlFFcGpQWmRLVUJkZ0E&usp=sharing#gid=0" target="_blank">點擊這裡</a>。

  ## 下載資源

  你可以傳遞太陽花學運的資訊來幫助我們。欲獲取原始原始檔案，請 <a href="/download/4am for States Local NYT- BK version.pdf" target="_blank">點擊這裡（黑白）</a> <a href="/download/4am for International NYT- 4C version.pdf" target="_blank">點擊這裡（彩色）</a>。