// 基本設定
$total-columns  : 4;
$column-width   : 72px;
$gutter-width   : 24px;
$grid-padding   : 0;

// add media
$pad-columns  : 8;
$pad-break    : 480px;
$pad: $pad-break $pad-columns;

$desktop-columns  : 12;
$desktop-break    : 940px;
$desktop: $desktop-break $desktop-columns;

// debug
@import "layout-debug";


html, body {
  height: 100%;
  @include at-breakpoint($desktop) {
    height: auto;
  }
}

#{$page-container} {
  $container-style: fluid;
  @include container();
}

.page {
  height: 100%;
  position: relative;
  @include at-breakpoint($desktop) {
    height: auto;
  }
}

$off-canvas-menu-width: 100%;
$off-canvas-main-bg-color: white;
.menu {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 200;
  height: 100%;
  // background-color: white;
  width: 100%;
}

.main {
  background-color: $background-gray; //測試用
  position: relative;
  z-index: 100;
  top: 0;
  right: 0;
  // background-color: $off-canvas-main-bg-color;
  @include transition(transform .3s ease-out, max-width .5s);
  @include backface-visibility(hidden); // 解決 translate 在最後結束時會閃爍的 bug
}
.main-inner {
  padding: 0 $gutter-width;
  height: 100%;
  overflow: auto;
}


// 打開外側選單時的狀態
.open-menu {

  .page {
    height: 100%;
    overflow: hidden;
  }

  .menu-inner {
    -webkit-overflow-scrolling: touch;
  }

  .main {
    height: 100%;
    // overflow: auto; 目前無 javascript 控制，暫時取消滾動。
    overflow: hidden;
    @include translateX($off-canvas-menu-width);
  }

}


@include at-breakpoint($pad) {
  $off-canvas-menu-width: 8;
  .menu {
    width: columns($off-canvas-menu-width);
  }
  .main {

  }

  .open-menu {
    .menu {

    }
    .main {
      @include translateX( space($off-canvas-menu-width, $total_columns) );
    }
  }


}

@include at-breakpoint($desktop) {
  $off-canvas-menu-width: 3;
  .menu {
    position: fixed;
    width: columns($off-canvas-menu-width);
  }
  .main {
    @include span-columns( ( $total_columns - $off-canvas-menu-width ) omega, $total_columns);
  }
  .open-menu {
    .page {
      overflow: visible;
    }
    .menu-inner {
      overflow: visible;
      height: auto;
    }
    .main {
      height: auto;
      overflow: visible;
      @include translateX( 0 );
    }
  }

}
