h2.sub-header Who We Are

markdown:
  **We are a group of concerned citizens.** As information on local media is manipulated, demonstrators in Sunflower Movement are mistaken as rioters. We hope to raise public awareness via collective efforts. Through crowdfunding platform FlyingV in Taiwan, 3,621 citizens have contributed to this campaign, and we reach our goal in less than three hours.
  The full-page ads on International New York Times is only the first step to empower all citizens. Knowledge and truth bring us power to tear down barriers between people. We aim to provide first-hand information to the wider public, without censorship or filters. While local media alienates protesters, these citizens are actually the same as you and me. We are all concerned about our democracy and future.
  Many people are already mobilized online and participate in offline movements, but we need more. This is the place we collect and present diverse voices from the street. With photos, videos, and messages, you deserve unfiltered information to form your own judgments.


.thanks
  markdown:
    ## Special Thanks:

    Sunflower movement,<br>
    Ptt.cc,<br>
    3621 team,<br>
    Sunlight Seeker,<br>
    g0v,<br>
    Aaron Nieh,<br>
    UNFOLD,<br>
    <abbr title="Sunflower">Bonana</abbr> King,<br>
    Watchout,<br>
    flyingV,<br>
    Appledaily,<br>
    Liberty times,<br>
    New York Times,<br>
    and… **You.**
