h2.sub-header Who We Are

markdown:
  We are a group of concerned citizens. As information on local media is manipulated, demonstrators in Sunflower Movement are mistaken as rioters. We hope to raise public awareness via collective efforts. Through crowdfunding platform FlyingV in Taiwan, 3,621 citizens have contributed to this campaign, and we reach our goal in less than three hours.
  The full-page ads on International New York Times is only the first step to empower all citizens. Knowledge and truth bring us power to tear down barriers between people. We aim to provide first-hand information to the wider public, without censorship or filters. While local media alienates protesters, these citizens are actually the same as you and me. We are all concerned about our democracy and future.
  Many people are already mobilized online and participate in offline movements, but we need more. This is the place we collect and present diverse voices from the street. With photos, videos, and messages, you deserve unfiltered information to form your own judgments.

  ---

  “Keep your face towards the sun and the shadows will cease to exist in front of you.” As information from local media is politically warped, demonstrators in Sunflower Movement are labeled as violent protesters. We hope to raise public awareness via collective efforts. Through the crowd-funding platform FlyingV in Taiwan, 3,621 citizens have contributed to this campaign, and we reach our goal in less than three hours in order to purchase front-page ads from Taiwan Liberty Times, Apple Times, and New York Times. While this was all stunningly empowering to the public, there’s more to come.

  Knowledge and truth can tear down walls and make bridges amongst the people. This site aims to provide first-hand information to the greater public, without censorship or filters. The protesters that some local media libels and slanders are basically the average citizen, just like you and me. We are all concerned about our future and how democracy should be executed. This is the place we collect and present diverse voices from the streets. With photos, videos, and messages, you will receive unfiltered, unbiased information.

  As to how you interpret it? That’s up to you and your heart.

  ---

  At the same time, with the collective effort of three Taiwanese lawyers, a group of Taiwanese and international students, and numerous oversea friends, a non-affiliated media website was constructed：Sunlight Seeker. It is responsible for the contents of 4am.tw and editing, as well as high-volume translations for major stories, critique, and mission of the Sunflower Movement. The site is constantly updated and serves as a bridge between the general public of Taiwan and the international press. Through the website and platform, we strive for the social movement and reform to move forward with strength, acquiring more valuable resources, impact, and encouragement on this special journey. In order for this internet platform to be established in such a short time, there are many people we are grateful for, especially all of the crew who worked tirelessly for its creation.

  We ask not for pity or sympathy, but for understanding what we fight and stand for. So join us on this topic, to chat, discuss, and learn, 4AM to 4PM, silent darkness to vibrant radiance. Never give up.


.thanks
  markdown:
    ## Special Thanks:

    Sunflower movement,<br>
    Ptt.cc,<br>
    3621 team,<br>
    Sunlight Seeker,<br>
    g0v,<br>
    Aaron Nieh,<br>
    EVENDESIGN,<br>
    <abbr title="Sunflower">Bonana</abbr> King,<br>
    Watchout,<br>
    flyingV,<br>
    Appledaily,<br>
    Liberty times,<br>
    New York Times,<br>
    and… **You.**
