.header {
  background: #111;
  position: relative;
  @include pie-clearfix;
  height: 90%;
  min-height: 400px;
  @include padding-leader(.5);
  @include at-breakpoint($pad) {
    height: 95%;
  }
  @include at-breakpoint($desktop) {
    background: transparent;
    position: static;
    min-height: 0;
  }
  .logo {
    // normal style
    @include adjust-font-size-to(28px);
    @extend %futura;
    em { font-style: normal; display: block; }
    a { color: $color-gray; display: block; }
    // replace text
    a {
      @include replace-text-with-svg("logo");
      width: auto;
      height: 0px;
      padding-top: 15%;
    }
    // style
    @include trailer(.5);
    width: 80%;
    margin-left: 6px;
    @include at-breakpoint($desktop) {
      width: 125%;
    }
  }
  img {
    @include reset-box-model;
    width: columns(1.7);
    position: absolute;
    bottom: 15%;
    right: 0;
    margin-bottom: rhythm(1);
    opacity: .75;
    @include at-breakpoint($pad) {
      width: columns(2);
    }
    @include at-breakpoint($desktop) {
      position: static;
      width: columns(1.5, 3);
      // float: right;
      @include leader(3);
    }
  }
  .story {
    @include adjust-font-size-to(16px);
    position: absolute;
    bottom: 15%;
    left: columns(2.3);
    color: $color-gray;
    &:after {
      content: " →";
    }
    @include at-breakpoint($pad) {
      left: columns(6) + gutter(8);
    }
    @include at-breakpoint($desktop) {
      display: none;
    }
  }
  .slogan {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    // clear float first
    clear: both;
    // normal style
    @include adjust-font-size-to(13px);
    @extend %futura;
    color: $color-gray;
    // replace text
    p {
      @include reset-box-model;
      @include replace-text-with-svg("slogan");
      width: auto;
      height: 0px;
      padding-top: 15%;
    }
    width: 85%;
    @include at-breakpoint($pad) {
      width: 400px;
    }
    @include at-breakpoint($desktop) {
      width: 350px;
      left: -.7em;
    }
  }
}

.menu-list {
  @include reset-box-model;
  @include reset-list-style;
  @include trailer(2);
  li {
    border-top: 1px solid #ccc;
    background: $background-gray;
  }
  a {
    @include adjust-font-size-to(18px);
    display: block;
    color: #444;
    padding: .7em .89em;
    &:after {
      @include adjust-font-size-to(20px, 1);
      content: " ›";
      color: #999;
      color: rgba(black,.3);
      float: right;
    }
  }
  @include at-breakpoint($desktop) {
    li { background: transparent; border: none }
    a {
      @include adjust-font-size-to(16px);
      color: $color-gray;
      @include transition(background-color, 1s)
    }
    a:after { color: $color-gray; }
    a:hover { background: rgba($background-gray,.3); }
  }
}
