.press-item {
  @include pie-clearfix;
  @include trailer(2.5);
  @include at-breakpoint($desktop) {
    @include leader(3);
    @include trailer(4);
  }
  blockquote {
    @include trailer(.5);
    @include adjust-font-size-to(15px);
    padding-left: 0;
    border-left: none;
    @include at-breakpoint($desktop) {
      @include adjust-font-size-to(20px, 1.5);
    }
  }
  cite {
    font-style: normal;
    text-align: right;
    float: right;
    @include adjust-font-size-to(13px);
    &:before {
      content: '—';
      margin-right: 8px;
      color: darken($background-gray, 20%);
    }
    a {
      @include link-colors(#999, $color-gray);
    }
    span {
      @include nowrap;
    }
    @include at-breakpoint($desktop) {
      @include adjust-font-size-to(15px);
    }
  }
}
