.timeline {
  position: relative;
  width: 97%;
  float: right;
  @include at-breakpoint($pad) {
    float: none;
    width: 95%;
    margin: 0 auto;
  }

}
.timeline-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: darken($background-gray, 60%);
  z-index: -1;
}
.timeline-item {
  @include pie-clearfix;
  position: relative;
  @include trailer(1);
  &:last-child:after {
    position: relative;
    content: "";
    display: block;
    height: 48px;
    width: 2px;
    @include background(
      linear-gradient( rgba(black,0), rgba(black,1) )
      );
    left: -26px;
    @include at-breakpoint($desktop) {
      left: -20px;
    }
  }
  @include at-breakpoint($desktop) {
    @include trailer(3);
  }
  color: $color-gray;
  padding-left: 26px;
  &.end {
    @include padding-trailer(1);
  }
  .date {
    @extend %din;
    @include adjust-font-size-to(20px);
    font-weight: bold;
    background-color: $background-black;
    color: $color-gray;
    &:before {
      $dot-size: 12px;
      content: '';
      position: absolute;
      border: 6px solid $background-black;
      width: $dot-size;
      height: $dot-size;
      background-color: $background-gray;
      left: -11px;
      top: 0px;
      @include border-radius(20px);
    }
  }
  .title {
    @extend %din;
    float: left;
    @include adjust-font-size-to(20px);
    font-weight: bold;
  }
  .time {
    @extend %din;
    $dot-size: 8px;
    &:before {
      content: '';
      position: absolute;
      border: 4px solid $background-black;
      width: $dot-size;
      height: $dot-size;
      background-color: $background-gray;
      left: -7px;
      top: 4px;
      @include border-radius(20px);
    }
  }
  p b {
    display: block;
  }
  .image {
    @include trailer(1);
    position: relative;
    padding-top: 3/4 * 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      @include trailer(0);
    }
  }
  @include at-breakpoint($desktop) {
    padding-left: 20px;
    .date {
      float: left;
    }
    .title {
      padding-left: 0;
    }
    .time {
      float: left;
    }
  }
}

.timeline-item-content {

  @include at-breakpoint($desktop) {
    @include span-columns(7 omega, 9);
  }
}

