h2.sub-header We Need YOUR Support

markdown:
  ## Social Sharing

  1. Share this website via <a href="https://twitter.com/intent/tweet?button_hashtag=CongressOccupied&text=Democracy%20at%204%20am%20—%20Morning%20without%20YOU%20is%20a%20dwindled%20dawn.&url=http%3A%2F%2F4am.tw&via=SunflowerMvmt" target="_blank" >Twitter @SunflowerMvmt</a>.
  or <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('http://4am.tw'), 'facebook-share-dialog', 'width=626,height=436'); return false;">Facebook</a> with hashtag *#CongressOccupied #SunflowerMvmt*
  2. Upload a sunflower photo to show your support with twitter hashtag *#CongressOccupied #SunflowerMvmt*
  3. Stay tuned with us for the latest update
  4. Provide us with your opinions, including the articles you would like to translate, the media/press channel you could provide, the firsthand pictures, vedios and other relevant materials, etc.. Please send the information to: <a href="mailto:sunlightseeker.tw@gmail.com">sunlightseeker.tw@gmail.com</a>

  ## Join Us

  You can join us by cascading Worldwide Sunflower Student Movement.
  For event location, time and further information,
  <a href="https://docs.google.com/spreadsheet/ccc?key=0AqFyWxftPKuEdDlmU2hGdkgzSlFFcGpQWmRLVUJkZ0E&usp=sharing#gid=0" target="_blank">Click Here</a>.

  ## Download

  You can assist us by passing forward the Sunflower Student Movement information.
  For original raw file, please
  <a href="http://goo.gl/N7oixM" target="_blank">Click Here (B/W)</a>
  <a href="http://goo.gl/qKag4B" target="_blank">Click Here (C)</a>.
