-videos = [\
  ['fKU7A22usls', "是時候我們自己來保護我們的國家了。"],\
  ['ddUyfAJXT1g', '停下來看看/聽聽。我們都站在這裡，一起祈禱台灣。'],\
  ['pkJkz_s0ZZ8'],\
  ['7NaMM97kh-I', '2014年3月24日，學生在行政院被憤怒的警察毆打，在佔領立法院五天後的持續集會後。'],\
  ['gCOcdipNKeM', '太陽花學運，也稱為318學運或佔領國會事件，是由一個聯盟驅動的抗議運動。'],\
  ['py_wKhshTt0', '我們在台中人民廣場。數千人參加了這次活動，抗議台灣和中國之間的服務貿易。很多人來這裡表達他們對這個協議的看法，包括大學教授和剛在台北立法院度過三天的人。\n\n討論的主題包括協議的不公平立場，以及馬政府在未經諮詢人民的情況下試圖推動該協議，民主的侵犯，協議的影響和言論自由。\n\n現在讓我們聽聽他們對政府的要求。'],\
  ['vRgBK1yVwok', '學生主導的示威活動，綽號"太陽花運動"，在馬英九總統拒絕撤回與中國有爭議的貿易協議的要求後，於週日晚間轉為暴力。數千名學生從國會大樓內的和平靜坐開始，衝入附近的行政院。作為回應，政府命令防暴警察驅逐學生，造成流血事件。'],\
  ['UffkKcrYe-w', '在佔領台灣國會（立法院）抗議與中國的有爭議的貿易和服務協議五天後，學生主導的太陽花運動於3月23日升級，一些學生決定佔領附近的行政院。作為回應，政府命令防暴警察清理學生，導致流血事件。'],\
  ['WF44bx8SF54', '3月18日，數千名台灣學生佔領台灣立法院。幾天後，數百人進入行政院，隨後警察暴力驅逐他們，甚至使用水炮。他們自稱太陽花革命。台灣總統馬英九推進了與中國的服務貿易協議，許多台灣人認為這將使中國共產黨控制台灣，侵蝕他們辛苦贏得的民主、自由和人權。但馬認為這對維持台灣在國際市場的競爭力至關重要，如果他們退回協議，將損害其作為貿易夥伴的信譽。但隨著中共逐漸利用類似的經濟軟實力侵蝕香港，台灣會是下一個嗎？請在本期《中國未經審查》中了解更多。'],\
  ['dY2YT2hSoGA'],\
  ['9x9H0SzqraI', '台灣議會歷史上首次被抗議兩岸貿易協議的學生衝進，該協議若獲批准，將允許台灣和中國的服務業公司在對方的領土內設立分支機構和零售業務。'],\
  ['o2XyhLbWKOw'],\
  ['DnN_pvPcWyc'],\
  ['fIQp3kNPmhc', '關於台灣學生/抗議者遭遇警察暴行的剪輯視頻。'],\
  ['Ec0aWp8pksM', '數千名學生在台灣首都台北示威，抗議與中國的貿易協議，數百人衝進了議會大樓。自週二以來，他們一直佔領議會廳，用椅子封鎖自己，要求與馬英九總統會面。'],\
  ['1wPWIIZyRb0'],\
  ['laosDHmvEBs', '台灣的"太陽花學生運動"：台灣學生在抗議中國貿易協議中尋求和平解決方案。'],\
  ['Ze3pg3cQWpM', '數百名學生週三早些時候仍然在台灣立法院設置路障，抗議執政黨推動與中國的貿易協議，示威者聲稱這將損害台灣。\n抗議者主要是大學生，週二晚上進入台北立法院的主會議廳，並用椅子封鎖入口，根據CNN iReport從現場提交的圖像和報告。'],\
  ['x1rFv6BKlKw', '我們不是暴民，我們在這裡始終保持理性。所以，我們決定自己拿起攝像機，通過我們的專業來傳播真相。'] \
  ]

h2.sub-header Videos

p Scroll to <a href="#last">page bottom</a>.

.video-item-group
  - videos.each do | video |
    .video-item
      .video
        iframe width="420" height="315" src="//www.youtube.com/embed/#{video[0]}" frameborder="0" allowfullscreen
      -if video[1]
        p.text= video[1].gsub('\n',"<br/>")

