-videos = [\
  ['fKU7A22usls', "是時候由我們自己來保護我們的國家了。"],\
  ['ddUyfAJXT1g', '停下來看/聽。我們都站在這裡，一起。\n為台灣祈禱。'],\
  ['pkJkz_s0ZZ8'],\
  ['7NaMM97kh-I', '2014年3月24日，在學生佔領立法院並持續集會五天後，他們在行政院被憤怒的警察毆打。'],\
  ['gCOcdipNKeM', '太陽花學運，也被稱為318學運或佔領國會事件，是由一個聯盟驅動的抗議運動。'],\
  ['py_wKhshTt0', "我們現在在台灣台中的人民廣場。\n數千人參加了這場活動，以抗議台灣和中國之間的服務貿易。\n許多人來到這裡表達他們對這項協議的看法，包括大學教授和剛在台北立法院度過三天的人。\n\n被提及的主題包括協議的不公平立場，以及馬總統政府如何試圖在未諮詢人民的情況下推動這項協議，對民主的違反，協議的影響以及言論自由。\n\n現在，讓我們來聽聽他們希望政府做些什麼。"],\
  ['vRgBK1yVwok', "由學生領導的示威活動，被暱稱為「太陽花運動」，在馬英九總統拒絕抗議者要求撤銷與中國有爭議的貿易協議後，周日晚間變得暴力。數千名起初在國會大樓內進行和平靜坐的學生，衝進了附近的行政院（行政院院長辦公室所在的場所）。作為回應，政府命令防暴警察驅逐學生，導致了流血事件。"],\
  ['UffkKcrYe-w', "在抗議與中國有爭議的貿易和服務協議並佔領台灣立法院五天後，由學生主導的太陽花學運在3月23日將事態升級，當時部分學生決定佔領附近的行政院。作為回應，政府命令防暴警察驅逐學生，導致流血衝突。"],\
  ['WF44bx8SF54', "在3月18日，數千名台灣學生佔領了台灣立法院。幾天後，更多的學生占據了行政院，之後警方暴力驅逐他們，甚至使用了水砲。他們自稱是太陽花革命。台灣總統馬英九推動了一項與中國的貿易協議，被稱為服務貿易協議，許多台灣人認為這將讓中國共產黨控制這個島嶼，侵蝕他們辛苦爭取的民主、自由和人權。但馬認為，維護台灣在國際市場上的競爭力至關重要，如果他們反悔這項協議，將損害他們作為貿易夥伴的信譽。然而，隨著中共利用類似的經濟軟實力逐步侵蝕香港，台灣會是下一個嗎？在這一集的《中國解密》中找出答案。"],\
  ['dY2YT2hSoGA'],\
  ['9x9H0SzqraI', "這是歷史上的首次，台灣的學生們衝入國會抗議與中國的兩岸服務貿易協議，如果該協議獲得批准，將允許台灣和中國的服務業公司在對方的領土上設立分公司和零售營運。"],\
  ['o2XyhLbWKOw'],\
  ['DnN_pvPcWyc'],\
  ['fIQp3kNPmhc', '關於台灣警察對學生/抗議者暴行的綜合影片剪輯。'],\
  ['Ec0aWp8pksM', "數千名學生在台灣首都台北抗議與中國的貿易協議，其中數百人衝入了國會大樓。從週二起，他們就一直佔據議會大廳，用椅子封鎖自己，並要求與總統馬英九見面。"], \
  ['1wPWIIZyRb0'], \
  ['laosDHmvEBs', '台灣"太陽花學生運動"：台灣學生在抗議中國貿易協議的過程中尋求和平解決方案。'], \
  ['Ze3pg3cQWpM', "在周三清晨，數百名學生仍在台灣立法院內設置路障，以抗議執政黨推動與中國的貿易協議，示威者聲稱這將傷害台灣。\n根據CNN iReport從現場發來的圖片和報導，這些抗議者大多是大學生，他們在週二晚間進入台北立法院的主要會議廳，並用椅子封鎖了入口。"],\
  ['x1rFv6BKlKw', '我們並非暴民，我們始終保持理性思考。因此，我們決定自己攜帶攝影機，利用我們的專長來傳播真相。'] \
  ]

h2.sub-header Videos

p Scroll to <a href="#last">page bottom</a>.

.video-item-group
  - videos.each do | video |
    .video-item
      .video
        iframe width="420" height="315" src="//www.youtube.com/embed/#{video[0]}" frameborder="0" allowfullscreen
      -if video[1]
        p.text= video[1].gsub('\n',"<br/>")

