/ :name => '圖檔名稱'
/ :desc => '文字敘述'

- photos = [ \
  { :name => '001',\
    :desc => '一位教授正在對佔領立法院前門的學生演講',\
  },\
  { :name => '002',\
    :desc => '防暴警察強行拖走街上的抗議者',\
  }, \
  { :name => '003',\
    :desc => '向日葵代表學生對光明未來的希望。這場運動被稱為「向日葵革命」',\
  }, \
  { :name => '004',\
    :desc => '一名學生在繪寫信息，「當獨裁成為事實，革命就是權利」，此語錄於1974年葡萄牙康乃馨革命',\
  }, \
  { :name => '005',\
    :desc => '抗議者宣稱這是一場非暴力、和平的運動',\
  }, \
  { :name => '006',\
    :desc => '黃國昌教授正在演講',\
  }, \
  { :name => '007',\
    :desc => '立法院內部',\
  }, \
  { :name => '008',\
    :desc => '一輛衛星上行連接車上貼滿了學生的責備和指責字條，因為媒體對學生進行了偏見報導和抹黑活動',\
  }, \
  { :name => '009',\
    :desc => '一名被警察打傷的學生',\
  }, \
  { :name => '010',\
    :desc => '防暴警察暴力攻擊手無寸鐵的教授',\
  }, \
  { :name => '011',\
    :desc => '防暴警察在衝突升級前等待命令清場',\
  }, \
  { :name => '012',\
    :desc => '立法院內的活動在網上直播，讓全世界看到',\
  }, \
  { :name => '013',\
    :desc => '醫療志工手持為台灣民主奮鬥的先鋒醫師的照片',\
  }, \
  { :name => '014',\
    :desc => '警察站崗',\
  }, \
  { :name => '015',\
    :desc => '抗議者包圍立法院',\
  }, \
  { :name => '016',\
    :desc => '抗議者包圍行政院',\
  }, \
  { :name => '017',\
    :desc => '防暴警察戴著頭盔，手持盾牌',\
  }, \
  { :name => '018',\
    :desc => '學生在立法院前舉行的靜坐活動',\
  }, \
  { :name => '019',\
    :desc => '在雨中抗議的抗議者',\
  }, \
  { :name => '020',\
    :desc => '高雄地鐵站內的抗議者，顯示出對學生的支持',\
  }, \
  { :name => '021',\
    :desc => '手無寸鐵的學生舉起雙手，堅持非暴力原則',\
  }, \
  { :name => '022',\
    :desc => '警察放下盾牌，開始用警棍打學生，而學生只是在和平示威。',\
  }, \
  { :name => '023',\
    :desc => '防暴警察瞄準學生的頭部，並暴力地將他們拖離街道。',\
  }, \
  { :name => '024',\
    :desc => '警察使用高壓水炮驅散抗議者',\
  }, \
  { :name => '025',\
    :desc => '學生堅持非暴力原則。',\
  }, \
  { :name => '026',\
    :desc => '一位佛教僧侶舉著倒掛的台灣國旗，以表示民主處於危險之中，目前的政治情況違背了國家的建國原則。',\
  }, \
]

- photos = photos.map{ |p| OpenStruct.new(p) }

h2.sub-header 照片

p 捲到<a href="#last">頁尾</a>

.photo-item-group
  - photos.each do | photo |
    .photo-item
      .photo
        img.lazy data-original="/images/photos/#{photo.name}.jpg" src="/images/loading.png"
        noscript: img src="/images/photos/#{photo.name}.jpg"
      p.text=photo.desc
