/ :name => '圖檔名稱'
/ :desc => '文字敘述'

- photos = [ \
  { :name => '001',\
    :desc => '一位教授正在對佔領議會前門的學生們發表演說。',\
    },\
  { :name => '002',\
    :desc => '鎮暴警察強制將抗議者從街頭拉走',\
    }, \
  { :name => '003',\
    :desc => '向日葵象徵著學生對於更美好未來的希望。這場運動被稱為“向日葵革命”。”',\
    }, \
  { :name => '004',\
    :desc => '一名學生正在繪製這樣一條訊息：「當獨裁成為事實，革命就是權利。」這句話引述自1974年葡萄牙的康乃馨革命。',\
    }, \
  { :name => '005',\
    :desc => '抗議者主張他們的行動是非暴力、和平的運動。',\
    }, \
  { :name => '006',\
    :desc => '黃國昌教授正在發表演說',\
    }, \
  { :name => '007',\
    :desc => '在議會內部',\
    }, \
  { :name => '008',\
    :desc => '一輛衛星轉播車貼滿了學生的責備和指責字條，因為媒體對學生的偏見報導和抹黑行動',\
    }, \
  { :name => '009',\
    :desc => '一名被警察打傷的學生',\
    }, \
  { :name => '010',\
    :desc => '防暴警察暴力襲擊一名無防衛的教授',\
    }, \
  { :name => '011',\
    :desc => '防暴警察在衝突升級前等待清場的指令',\
    }, \
  { :name => '012',\
    :desc => '議會內的活動被線上直播，供全世界觀看',\
    }, \
  { :name => '013',\
    :desc => '醫療志願者手持為台灣民主而戰的先驅醫生的照片',\
    }, \
  { :name => '014',\
    :desc => '警察站崗',\
    }, \
  { :name => '015',\
    :desc => '抗議者包圍議會',\
    }, \
  { :name => '016',\
    :desc => '抗議者包圍行政院（內閣辦公室）',\
    }, \
  { :name => '017',\
    :desc => '防暴警察，戴著頭盔並握著盾牌',\
    }, \
  { :name => '018',\
    :desc => '學生在議會前組織的靜坐抗議',\
    }, \
  { :name => '019',\
    :desc => '雨中的抗議者',\
    }, \
  { :name => '020',\
    :desc => '位於台灣西南部的高雄地鐵站內的抗議者，表達對學生的支持。',\
    }, \
  { :name => '021',\
    :desc => '手無寸鐵的學生舉起手來，主張他們的非暴力原則',\
    }, \
  { :name => '022',\
    :desc => '警察降下他們的盾牌，開始用警棍打學生，而學生只是在進行和平的示威。',\
    }, \
  { :name => '023',\
    :desc => '防暴警察瞄準學生的頭部，並猛烈地將他們從街道上拉開。',\
    }, \
  { :name => '024',\
    :desc => '警察使用高壓水砲來驅散抗議者',\
    }, \
  { :name => '025',\
    :desc => '學生堅持非暴力的原則。',\
    }, \
  { :name => '026',\
    :desc => '一位佛教僧人手握倒掛的台灣國旗，以示民主處於危險之中，當前的政治局勢違背了國家的創立原則。',\
    }, \
]

- photos = photos.map{ |p| OpenStruct.new(p) }

h2.sub-header Photos

p Scroll to <a href="#last">page bottom</a>.

.photo-item-group
  - photos.each do | photo |
    .photo-item
      .photo
        img.lazy data-original="/images/photos/#{photo.name}.jpg" src="/images/loading.png"
        noscript: img src="/images/photos/#{photo.name}.jpg"
      p.text=photo.desc
